body {
    font-family: 'Segoe UI', sans-serif;
     
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.container {
    background: white;
    width: 400px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background: #667eea;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #5563c1;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background: #f4f4f4;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
}

li.completed {
    background: #d4edda;
    text-decoration: line-through;
    opacity: 0.7;
}

.task-info {
    font-size: 14px;
}

.actions {
    display: flex;
    gap: 8px;
}

.delete-btn {
    background: red;
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 12px;
}

.delete-btn:hover {
    background: darkred;
}
